@{
    ViewData["Title"] = "Feature Unavailable";
}

<div class="container align-items-center justify-content-center" style="height: 100vh">
    <div class="row align-items-center justify-content-center" style="height: 45vh">
        <h2 class="display-1 text-black">Feature Unavailable</h2>
    </div>
    <div class="row align-items-center justify-content-center" style="height: 5vh">
        <h3 class="lead text-black">This feature is currently unavailable</h3>
    </div>
</div>

