@{
    Layout = "_AnonymousLayout";
}

@model CodeInsight.Web.Models.Home.HomeIndexViewModel

<div class="container">
    <div class="row">
        <a asp-controller="Github" asp-action="SignIn">Sing in via GitHub</a>
    </div>
</div>

