@{
    Layout = "_AnonymousLayout";
}
@{
    ViewData["Title"] = "Welcome";
}

@model CodeInsight.Web.Models.Home.HomeIndexViewModel

<div class="container align-items-center justify-content-center" style="height: 100vh">
    <div class="row align-items-center justify-content-center" style="height: 45vh">
        <h1 class="display-1 text-white">Code Insight</h1>
    </div>
    <div class="row align-items-center justify-content-center" style="height: 5vh">
        <p class="lead text-white">Analyze your code like never before</p>
    </div>
    <div class="row align-items-start justify-content-center" style="height: 50vh">
        <a class="btn btn-lg btn-brand btn-github" asp-controller="Github" asp-action="SignIn">
            <i class="fa fa-github"></i><span>Sing in with GitHub</span>
        </a>
    </div>
</div>

