@model CodeInsight.Web.Models.Commit.CodeTabModel
@{
    ViewData["Title"] = "Code Change Analysis";
}

<div class="container" style="padding-top: 25px">
    <div class="row">
        @foreach (var chart in Model.Charts)
        {
            <h4 class="display-4" style="margin-bottom: 25px">@chart.Title</h4>
            <div class="card-columns cols-1">
                <div class="card">
                    <div class="card-body">
                        <canvas id="@chart.Id" width="800" height="800"></canvas>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        @foreach (var chart in Model.Charts)
        {
            @Html.Raw(chart.JsChart.CreateChartCode(chart.Id));
        }
    </script>
}