<div class="container align-items-center justify-content-center" style="height: 100vh">
    <div class="row align-items-center justify-content-center" style="height: 45vh">
        <h1 class="display-1 text-black">Code Insight</h1>
    </div>
    <div class="row align-items-center justify-content-center" style="height: 5vh">
        <p class="lead text-black">Test</p>
    </div>
</div>

