@{
    Layout = "_AnonymousLayout";
}

@model CodeInsight.Web.Models.Github.ChooseRepositoryViewModel

<div class="container">
    <div class="row">
        <h2>Choose a repository</h2>
        <form asp-controller="Github" asp-action="ChooseRepository" method="post">
            @{
                foreach (var repository in Model.Repositories)
                {
                    var repoValue = $"{repository.Name}:{repository.Owner}";
                    <input type="radio" name="nameWithOwner" value="@repoValue">@repository.Name<br>
                }
            }
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

