@{
    Layout = "_AnonymousLayout";
}

@model CodeInsight.Web.Models.Github.ImportStatusViewModel

<div class="container">
    <div class="row">
        <h2>Import status</h2>
        <h2>@Model.Progress %</h2>
    </div>
</div>

